@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Arimo",sans-serif;
}
:root {
    --primary-color: #2d3748;
    --secondary-color: #4a5568;
    --accent-color: #3182ce;
    --hover-color: #2c5282;
    --text-primary: #1a202c;
    --text-secondary: #718096;
    --bg-light: #f7fafc;
    --border-color: #e2e8f0;
    --shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    --shadow-lg: 0 10px 25px rgba(0, 0, 0, 0.15);
}

main {
    background-color: var(--bg-light);
    height: 98vh;
}
.navigation {
    margin: 0;
    height: 70px;
    background-color: red;
    padding: 20px 150px;
    max-width: 100%;
}

a {
    text-decoration: none;
    padding: 10px;
}

button {
    padding: 5px 20px;
    border-radius: 10px;
}

button#sign-in {
    background-color: white;
    border: none rgb(59, 152, 239);
}

button#sign-up {
    background-color: lightblue;
    border: none rgb(59, 152, 239);
}

nav {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    box-shadow: 0 3px 25px 5px #abaaaa7d;
    background-color: white;
    color: var(--text-secondary);
    font-weight: 400;

}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

ul li:active {
    color: var(--accent-color);
}

a {
    color: var(--text-secondary);
}

.right {
    width: 200px;
    margin-right: 40px;
}

.left {
    width: 300px;
    margin-left: 80px;
}

h1{ 
    margin: 70px 0 90px 0;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.card {
    width: 90%;
    display: flex;
    height: 250px;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 50px;
}

.img {
    width: 80%;
    background-image: url(../img/events-image-tech-club-2x.avif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   
}
.jnab {
    box-shadow: -8px 0 15px -15px #80808091;
    width: 30%;
    padding: 30px;
    color: var(--text-primary);
}

.jnab h2 {
    margin: 40px 0 20px 0;
}

.jnab p {
    color:var(--text-secondary);
}

.right button{
    background-color: var(--accent-color);    
    color: white;
    border: 2px solid;
    border-color: var(--accent-color);
    padding: 13px 25px;
    font-weight: bold;
}

.right button[class = "first"] {
    background-color: white;
    border-color: var(--accent-color);
    color: var(--accent-color);
    border: 2px solid;
}

.link {
    width: 90%;
}